
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<title>RouterOS user manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="container">
        <h2>RouterOS user manager</h2>
        <hr>
        <form action="" method="post" role="form">
            {{ form.csrf }}
            <div class="form-group">
                <div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Local users</label>
                        </div>
                        <select id="username" name="username" class="custom-select" id="inputGroupSelect01">
                            <option selected>Choose...</option>
                            <option value="adminguayama">adminguayama</option>
                            <option value="adminpanella">adminpanella</option>
                            <option value="adminvidela">adminvidela</option>
                            <option value="adminmaillo">adminmaillo</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter a password.">
                </div>
                <div>
                    <label for="confirm_password">Confirm Password:</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Repeat password.">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Go</button>
        </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                {% if "Error" not in message[1]: %}
                    <div class="alert alert-info">
                        <strong>Success!</strong>
                        {{ message[1] }}
                    </div>
                {% endif %}

                {% if "Error" in message[1]: %}
                    <div class="alert alert-warning">
                        {{ message[1] }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    </div>
